body {
    background-color: #FFF0F5;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.main.title {
    font-size: 400%;
}

.main.list {
    font-size: 250%;
}

.main li{
    display: block;
    box-sizing: border-box;
    border: solid #9370DB;
    margin: 15px auto;
    padding: 20px;
    width: 500px;
}

.main a:link, a:visited{
    color: black;
}

.main a:hover{
    color: #9370DB;
}

.recipe{
    font-size: 250%;
}

.home {
    font-size: 150%;
}

.description,
.ingredients,
.steps {
    font-weight: 800;

}

.recipe.list {
    font-size: 120%;
}

.recipe-text {
    font-size: 120%;
}

.pic {
    height: 600px;
    width: 650px;
}